.bgHome {
  /* background-color: red; */
  /* margin-top: 1rem; */
}

.paginado {
  position: fixed;
  margin-top: 40rem;
  display: flex;
  margin-left: 60rem;
  /* padding-top: 100rem; */
  /* background-color: red; */
}
.searchBar {
  margin-top: 1.3rem;
  display: flex;
  justify-content: space-around;
  /* position: center; */
  /* align-items: baseline; */
  /* padding-bottom: 2rem; */
}
.cardsHome {
  margin-left: 4.8rem;
}
.navBar {
  padding-top: 1.3rem;
}
