.bgHome {
  /* background-color: red; */
  /* margin-top: 1rem; */
}

.paginado {
  /* position: fixed; */
  /* margin-top: 40rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 60rem; */
  /* padding-top: 100rem; */
  /* background-color: red; */
  height: 6vh;
}
.searchBar {
  margin-top: 1.3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* align-items: baseline; */
  padding-right: 100px;
}
.cardsHome {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
  justify-content: center;
  padding-left: 15vh;
  padding-right: 10vh;
  width: 100vw;
  /* margin-left: 4.8rem; */
}
.navBar {
  padding-top: 1.3rem;
}
